*{
  box-sizing: border-box;
  gap: 5rem;
}
html {
  font-size: 15px;
}
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  max-width: 50vw;
  margin: 0 auto;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
figcaption {
  font-size: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
}